@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.diagram {
  background-image: radial-gradient(lightgray 1px, transparent 0);
  background-size: 30px 30px;
}

.grid-stack-item-content {
  cursor: grab;
}

svg.leader-line {
  pointer-events: auto!important;
}

.leader-line {
  z-index: 400 !important;
  cursor: no-drop !important;
}

.leader-line:hover g > use:first-of-type {
  stroke: yellow !important;
}