@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

.diagram {
  background-image: radial-gradient(lightgray 1px, transparent 0);
  background-size: 30px 30px;
}

.grid-stack-item-content {
  cursor: pointer;
}

.leader-line g {
  z-index: 400 !important;
  cursor: no-drop !important;
  pointer-events: auto;
}

.leader-line g:hover > use:first-of-type {
  stroke: yellow !important;
}

.grid-stack .grid-stack-item-content:hover > * {
  background: lightyellow;
}

.grid-stack-item-content {
  height: auto !important;
}
